*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
}
body{
    background-image: url(Apa-Itu-Arsip.webp);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    color: blanchedalmond;
    }
button{
    font-family: sans-serif;
font-size: 25px;
background: #f1f2f2;
color: rgb(30, 1, 1);
border: white 3px solid;
border-radius: 5px;
padding: 30px 70px;
margin-top: 5px;
}
button:hover{
    opacity:0.7;
    }
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    color: rgb(238, 215, 11);
    background-color: azure;
    background-blend-mode: soft-light;
    height: 70px;
    margin-top: 25px;
}            
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
    color: rgb(178, 197, 5);
    background-blend-mode: soft-light;
    height: 70px;
    margin-top: 25px;
}
h3{
    text-align: center;
}
fieldset{
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 2em;
    }


.Menu {
    position: fixed;
    left: 0;
    width: 240px;
    height: 100%;
    border-right: 1px solid cyan;
    transition: all .5s ease;
    background-color: black;
}
.Menu a {
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid whitesmoke;
    border-left: 5px solid transparent;
    transition: all .5s ease;
}
.Menu a:hover, .Menu a.active {
    color: cyan;
    background-color: black;
    border-left: 5px solid cyan;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 240px;
    border-right: 1px solid cyan;
}
.dropbtn i {
    float: right;
    position: relative;
    right: 20px;
    top: 26px;
}
.content {
    display: none;
    background: black;
    min-width: 240px;
    font-size: 16px;
    border-top: 1px solid black;
    position: relative;
    border-right: 1px solid cyan;
}
.dropdown:hover .content {
    display: block;
}
.content a {
    line-height: 65px;
    padding-left: 30px;
    border-bottom: 1px solid rgb(197, 197, 250);
    transition: all .5s ease;
}
.foot {
    font-size: small;
}